.admin-page {
    display: flex;
    min-height: 100vh;
  }
  
  .admin-content {
    flex-grow: 1;
    padding: 30px;
    margin-left: var(--sidebar-width); /* Ajusta esto según el ancho de tu sidebar */
    transition: margin-left 0.3s;
  }
  
  .admin-header {
    font-size: 24px;
    color: var(--primary-color); /* Usa las variables de color de tu proyecto */
    margin-bottom: 20px;
    text-align: center;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th, .user-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .user-table th {
    background-color: var(--primary-color);
    color: white;
  }
  
  .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .user-table tr:hover {
    background-color: #ddd;
  }
  
  .user-table td {
    color: var(--text-color);
    font-size: 16px;
  }
  